@import '../../assets/main.scss';

.btn {
  color: $main;
  background-color: $second;
  border: none;
  font-family: BlenderPro;
  font-size: 1rem;
  font-weight: 500;
}

.btn-base {
}

.btn-base-inversed {
  color: $accent;
  background-color: $main;
}

.btn-ghost {
  color: $main;
  background-color: transparent;
  border: 2px solid $second;
  padding: .5rem .75rem;
}

.btn-ghost-inversed {
  color: $accent;
  background-color: $main;
  border: 2px solid currentColor;
  padding: .5rem .75rem;
}

.btn-bevel {
  color: $main;
  background-color: transparent;
  padding: .825rem 2rem;
  font-weight: 500;
  @include bevel($second);
}

.btn-bevel-inversed {
  color: $accent;
  background-color: transparent;
  padding: .825rem 2rem;
  font-weight: 500;
  @include bevel($main);
}
