@font-face {
  font-family: Rajhani;
  src: url('./fonts/Rajdhani/Rajdhani-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Rajhani;
  src: url('./fonts/Rajdhani/Rajdhani-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Rajhani;
  src: url('./fonts/Rajdhani/Rajdhani-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
